body, button {
    font-family: 'Inter';font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.tw-flex {
    display: flex;
}

.tw-w-full {
    width: 100%;
}

.tw-justify-center {
    justify-content: center;
}

.tw-justify-end {
    justify-content: end;
}

.tw-align-center {
    align-items: center;
}

.tw-mx-auto {
    margin-left: auto; margin-right: auto;
}

.basic-button {
    --button-primary-color: green;
    --button-shadow: black;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--button-primary-color);
    box-shadow: 0 2px 0 0px var(--button-shadow);
}

.basic-button--cinza {
    --button-primary-color: #E1E1E1;
    --button-shadow: #BBBBBB;
}

.basic-button--amarelo {
    --button-primary-color: #F2CA52;
    --button-shadow: #C39C36;
}

.container-wide {
    max-width: 1200px;
}

.header {
    background-color: white;
}
.subheader {
    border-top: 1px solid #9e9e9e;
    background-color: #ECECEC;
}
.test {
    background-color: aqua;
}

.bixolista {
    gap: 50px;
    direction:rtl;
    list-style: url("../../img/downArrow.png");
}

.footer {
    background-color: black;
}

.footer-text {
    color: white;
    width: 240px;
}

.footer-list {
    color: #C3C3C3;
    list-style: none;
    padding-left: 0px; 
}

.footer-list li{
    margin-top: 10px;
    margin-bottom: 15px;
}

.redes {
    margin-top: 18.72px;
}

.intro {
    font-size: 25px;
    max-width:  500px;
    text-align: left;
}

.content-wide {
    width: max-content;
}

.tw-flex-dir-column {
    flex-direction: column;
}

.form-text {
    font-size: 15px;
    font-weight: 600;
}

.form-input {
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
    margin-bottom: 10px;
}

figure {
    padding: 0px;
    margin: auto;
}

.form-button {
    background-color: #F27405;
    border: none;
    border-radius: 57px;
    color:white;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 70px;
    font-weight: 800;
}

.naotem {
    color: #525252;
}

.main {
    background-image: url("../../img/patinhas.png");
    background-size: cover;
    padding-bottom: 100px;
}